/* primary color: 307a72
 *
 * complementary color
 */
[data-md-color-scheme="otf"] {
  --hero-bg-color:              #eedaf1; /* f8dfd3; (secondary, 90%) */ /* daf1ee; (primary, 90%) */
  --details-bg-color:           #f1eeda; /* fffe; */
  --md-primary-fg-color:        #307A72;
  --md-primary-fg-color--light: #629FA3;
  --md-primary-fg-color--dark:  #FF0000;
  --md-typeset-a-color:  #629FA3;
}
[data-md-color-scheme="slate"] {
  --hero-bg-color:              #893a92; /* 91d4cd; (primary, 70%) */
  --details-bg-color:           #92893a;
  --md-primary-fg-color:        #307A72;
  --md-primary-fg-color--light: #629FA3;
  --md-primary-fg-color--dark:  #FF0000;
  --md-typeset-a-color:  #629FA3;
  --md-hue:  174;
}

[data-md-color-scheme="slate"] .mdx-extra__content {
  --md-typeset-a-color:  #91d4cd;
}

[data-md-color-scheme="slate"] .mdx-hero__content h1 {
  color:  var(--md-default-fg-color--dark);
}

[data-md-color-scheme="otf"] img[src$="#only-dark"],
[data-md-color-scheme="otf"] img[src$="#gh-dark-mode-only"] {
  display: none; /* Hide dark images in light mode */
}

a[target=_blank]::after
{
  content: "";
  width: 12px;
  height: 12px;
  margin-left: 1px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='%23629FA3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-external-link'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' y1='14' x2='21' y2='3'%3E%3C/line%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.big-icon { font-size: 5em; }
.medium-icon { font-size: 2em; }
.color-a { color: #6dc6b2 }
.color-b { color: #c0d72f }
.color-c { color: #ffdd75 }
.color-d { color: var(--hero-bg-color) }
